@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Oswald);

body{
	font-family: meiryo, sans-serif;
	font-size: 15px;
	
	background-color: rgba(200,200,200, 1.0);
	background-image: url("bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	
	color: #000000;
	
	text-align: center;
}


input{
	margin: 5px;
}

form{
	background-color: rgba(255,255,255, 0.8);

	color: #000000;

	margin: 0% 40%;
	padding: 20px
}

footer{
	margin: 30px;
}

.input_form, .input_submit{
	margin: 20px;
}

#back_to_index{
}